:root {
  --primary-color: #1b2351;
  --light-bg: #f6f6f6;
  --text-light: #ffffff;
  --text-muted: #bbb;
  --hover-bg: #e0e4ff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--light-bg);
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 20px;
  text-align: start;
  width: 250px;
  display: flex;
  flex-direction: column;
  
}

.logo h3 {
  margin: 0;
  font-size: 1.2em;
}

.logo span {
  font-size: 0.8em;
  color: var(--text-muted);
}

.menu button {
  background: var(--text-light);
  color: var(--primary-color);
  margin: 8px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: start;
}

.menu button:hover {
  background-color: var(--hover-bg);

}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

/* TOPBAR */
.topbar {
  background: var(--text-light);
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  margin-right: 16px;
  cursor: pointer;
}

/* QUICK ACCESS ICONS */
.quick-access {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  border-bottom: 1px solid #9ba3c1;
  margin-right: 24px;
}

.icon-card {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 24px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.icon-card:hover {
  transform: scale(1.05);
}

.icon-img {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
}