.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b2351;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

input {
  padding: 10px;
  border: none;
  background: #eee;
  border-radius: 8px;
}

button {
  background-color: #1b2351;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 0.9em;
}


